{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8 ">
    <meta name="description" content="AtomURL is a simple, free, and easy to use URL shortener. There's no need for a login or subscription. You can create a shortened url in seconds!">
    <meta name="author" content="Prathik Pradeep">
    <meta name="keywords" content="Atom, url, url shortener, URL, short, link, link short, link shortener">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 ">
    <title>AtomURL</title>

    <link rel="stylesheet " href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css " integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk " crossorigin="anonymous ">
    <link rel="stylesheet " href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css ">

    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap " rel="stylesheet ">
    <link rel="preconnect " href="https://fonts.gstatic.com ">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap " rel="stylesheet ">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap " rel="stylesheet ">
    <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap " rel="stylesheet ">
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap " rel="stylesheet ">

    <link rel="icon" href="https://cdn.exobot.xyz/atom_circle.png">

</head>

<style>
    
    #content-wrap {
        padding-bottom: 2.5rem;
        /* Footer height */
    }
    
    #footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 3.5rem;
        font-family: quicksand;
        /* Footer height */
    }
    
    .background-color {
        animation: background-change 20s infinite;
    }
    
    @keyframes background-change {
        0% {
            background-color: rgb(253, 106, 106);
        }
        25% {
            background-color: rgb(114, 230, 114);
        }
        50% {
            background-color: rgb(84, 94, 230);
        }
        75% {
            background-color: rgb(0, 182, 55);
        }
        100% {
            background-color: rgb(253, 106, 106);
        }
    }
</style>
</head>

<body>
    <section style="width: 100vw; height: 100vh; overflow-x: hidden; background-image: url('https://cdn.exobot.xyz/gradient.jpg'); background-repeat: no-repeat; background-attachment: scroll; background-size: 100% 100%;">
            <nav class="navbar navbar-dark bg-dark" style="padding-top: 1%; padding-bottom: 1%; padding-left: 2%; padding-right: 2%; border-radius: 1em; margin-left: 2%; margin-right: 2%; margin-top: 0.5%;">
                <a class="navbar-brand " href="/ " style="font-size: 200%; font-family: quicksand;">A T O M</a>
                <span style="color: white ">
                    <!-- <div style="font-family: quicksand ">created by</div>
                    <div style="font-family: bungee; ">PRATHIK PRADEEP</div> -->
                    <a href="/create "><button type="button " class="btn btn-outline-light " style="font-family: bungee; ">Create New URL</button></a> 
                </span>
            </nav>
            {% block home %} {% endblock home %}
            {% block content %} {% endblock content %}
    </section>

    <section style="width: 100vw; height: 125vh; background-color: rgb(216, 199, 255); border-top: 5px solid goldenrod;">

        <center><h1 style="font-size: 700%; font-family: quicksand; margin-top: 2%;">One Link For Everything</h1></center>
        <center><h1 style="font-family: quicksand;">You can post your AtomURL anywhere to share with your audience.</h1></center>
        <img src="https://cdn.exobot.xyz/person.png" style="float: right; margin-right: 20%; margin-top: 1%;">
        <img src="https://cdn.exobot.xyz/icons.png" style="float: left; margin-left: 9%;">
    </section>

    <section style="border-top: 5px solid goldenrod;">
        <div style="background-color: #292b2c; width: 100vw;">
            <h1 style="font-family: quicksand; color: rgb(216, 199, 255); text-align: center; padding-top: 1%;">Create a New Short URL Today!</h1>
            <center><a href="/create "><button type="button " class="btn btn-outline-light" style="font-family: bungee; margin-top: 0.5%;">Create New URL</button></a></center>
            <div style="width: 100%; text-align: center; padding-top: 2%; padding-bottom: 1%; font-family: 'Quicksand', sans-serif; color: gray ">
                Copyright &copy; 2021 AtomURL. All Rights Reserved
            </div>
        </div>
    </section>


    <!-- Bootstrap -->
    <link rel="stylesheet " href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css " integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z " crossorigin="anonymous ">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js " integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js " integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js " integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV " crossorigin="anonymous "></script>
</body>

</html>